{{ define "main" }}
<div class="project-container">
	<section class="project-list">
		<h2>Projects</h2>
		{{ range (where .Site.RegularPages "Type" "in" "projects").ByDate.Reverse }}
		<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
		{{ end }}
	</section>
	<section class="project">
		<h2>{{ .Title }}</h2>
		<img src="{{ .Params.image}}" alt="{{ .Params.alt_text }}" width="350px">
		{{ .Content }}
		<h3>Tech used:</h3>
		<ul>
			{{ range .Params.tech_used }}
			<li>{{ . }}</li>
			{{ end }}
		</ul>
	</section>
</div>
{{ end }}
